---
layout: page-layout.njk
title: 'About the 2013 Event'
meta_title: 'Vermont Code Camp 5 :: 2013'
meta_description: The 5th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
    </header>
    <article>

        <div class="meta">
            <abbr title="September 21, 2013, 8:30am - 6:00pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">21</span> 
                <span class="time">8:30AM-6:00PM</span>
            </abbr> 
            <abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">
                <span class="building">Kalkin Hall</span> 
                <span class="place">UVM Campus</span>
                <span class="address">55 Colchester Ave</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>

        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. There will be sessions on a variety of software topics including programming, databases, web, business and more.</p>

        <p><strong><a href="http://www.meetup.com/VTCode/events/127382512/">Event Page on Meetup</a></strong></p>

    </article>

     <article class="sponsors">
            <h1>Premiere Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.uvm.edu/business/" class="logo the-university-of-vermont">UVM</a> <a href="http://www.uvm.edu/business/">School of Business Administration</a></li>
                <li><a href="http://foundline.com/?utm_source=vtcodecamp&amp;utm_medium=credit&amp;utm_content=textlink&amp;utm_campaign=vtcodecamp" class="logo found-line">Found Line</a></li>
                <li><a href="http://www.mywebgrocer.com/" class="logo mywebgrocer">MyWebGrocer</a></li>
                <li><a href="http://careers.dealer.com/" class="logo dealer-dot-com">Dealer.com</a></li>
            </ul>
            <h1>Platinum Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.telerik.com/" class="logo telerik">Telerik</a></li>
                <li><a href="http://www.techjamvt.com/" class="logo vermont-tech-jam">Vermont Tech Jam</a></li>
            </ul>
            <h1>Gold Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.champlain.edu/" class="logo champlain-college">Champlain College</a></li>
            </ul>
            <h1>Silver Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.componentone.com/" class="logo componentone">ComponentOne</a></li>
                <li><a href="http://www.jetbrains.com/" class="logo jetbrains">JetBrains</a></li>
                <li><a href="http://agilion.com/" class="logo agilion-apps">Agilion Apps</a></li>
            </ul>
            <h1>Bronze Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.misysinc.com/" class="logo misys">MISys</a></li>
                <li><a href="http://www.tylertech.com/" class="logo tyler-technologies">Tyler Technologies</a></li>
            </ul>
            <h1>Swag, Giveaways &amp; More</h1>
            <ul class="sponsors">
                <li><a href="http://www.oreilly.com/" class="logo oreilly-media">O'Reilly Media</a></li>
                <li><a href="http://www.code-magazine.com/" class="logo code-magazine">CODE Magazine</a></li>
                <li><a href="http://wrox.com/" class="logo wrox">Wrox</a></li>
                <li><a href="http://www.soea.com/" class="logo lake-champlain-shoreline-cruises">Lake Champlain Shoreline Cruises</a> <a href="http://www.soea.com/">Spirit of Ethan Allen</a></li>
                <li><a href="http://www.ssware.com/" class="logo logicnp-software">LogicNP Software</a></li>
                <li><a href="http://www.devexpress.com/" class="logo devexpress">DevExpress</a></li>
                <li><a href="http://champlainmakerfaire.org/" class="logo champlain-mini-maker-faire">Champlain Mini Maker Faire</a></li>
                <li><a href="http://www.vtstateparks.com/" class="logo vermont-state-parks">Vermont State Parks</a></li>
                <li><a href="http://www.dzone.com/" class="logo dzone">DZone</a></li>
                <li><a href="http://vtmakers.org/" class="logo vermont-makers">Vermont Makers</a></li>
                <li><a href="http://www.greenmountaincoffee.com/" class="logo green-mountain-coffee-roasters">Green Mountain Coffee Roasters</a></li>
                <li><a href="http://www.uxdesignedge.com/" class="logo ux-design-edge">UX Design Edge</a></li>
                <li><a href="http://www.crcpress.com/browse/category/CGD" class="logo crc-press">CRC Press</a></li>
                <li><a href="http://www.apress.com/" class="logo apress">Apress</a></li>
                <li><a href="http://www.informit.com/usergroupwelcome" class="logo pearson-user-groups">Pearson User Groups</a></li>
                <li><a href="http://www.techsmith.com/" class="logo techsmith">TechSmith</a></li>
            </ul>
        </article>

</article>
